//************  buttons

.btn_v1 {
  height: 60px;

  &.project_btn {
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    line-height: 56px;
    padding: 0 30px;
    margin-top: 80px;
  }

  &.contact_btn {
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    line-height: 56px;
    padding: 0 30px;
    background: none;
    min-width: 224px;
    margin-top: 20px;
  }
}

.btn_v2 {
  height: 45px;

  &.blog_btn {
    position: relative;
    text-align: center;
    border-radius: 22px;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 43px;
    font-weight: 500;
    padding: 0 63px;
  }
}

.btn_white {
  border: 2px solid #fff;
  color: #fff;

  span {
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }

  &:after {
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
    color: #000;

    ._bordo_projects & {
      color: #840938;
    }
  }

  &:hover {
    background-color: #fff;

    &:after {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    > span {
      opacity: 0;
      -webkit-transform: translate3d(0, -25%, 0);
      transform: translate3d(0, -25%, 0);
    }
  }

  .project_info & {
    border-color: #840938;

    &:hover {
      background: #840938;

      &:after {
        color: #fff;
      }
    }
  }

  .section._bodro & {
    border-color: #ff0;
    color: #ff0;

    &:hover {
      background-color: #ff0;
      border-color: #ff0;

      &:after {
        color: #000;
      }
    }
  }

  .section._dobro & {
    &:hover {
      &:after {
        color: #6ba3ee;
      }
    }
  }

  &[disabled='disabled'] {
    opacity: .25;
    color: #fff !important;
    background: none !important;
    cursor: default;

    span {
      opacity: 1;
    }

    &:after {
      display: none;
    }
  }
}

.btn_blue_transp {
  border: 1px solid #29abe2;
  color: #fff;
}

.green_btn {
  color: #fefefe;
  background: #22b573;
}

.btn_red {
  color: #fff;
  background: #f46b65;
}

.yellow_btn {
  background: #fbe622;
  color: #000;
  box-shadow: 0 3px 5px #7f7f7f;
}
