@mixin respond-to-min($custom1) {
  @media only screen and (min-width: $custom1) {
    @content;
  }
}

$resp_step_1: 980px;

.footer {
  padding: 50px 0 60px;
  
  @include respond-to-max($resp_step_1) {
    padding: 25px 0;
  }
}

.modal_holder {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 150;
  display: none;
  background: #000;
  overflow-y: auto;

  .modal_opened & {
    display: block;
  }
}

.popup {
  background: #000;
  padding: 40px 20px 1px;

  .section_title {
    margin-bottom: 37px;

    span {
      font-size: 30px;
    }
  }

  > p {
    font: 300 17px 'MuseoSansCyrl', sans-serif;
    margin-bottom: 40px;
  }

  &.thanks_popup {
    .section_title {
      margin: 70px 0 80px;
    }

    p {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
      letter-spacing: .02em;
    }
  }

  &.agreement_popup {

    p {
      letter-spacing: .02em;

      + p {
        margin-top: 10px;
      }
    }
  }
}

.popup_inner {
  .form_row {
    max-width: 100%;
    width: 553px;
    margin: 0 auto 34px;

    &:first-child {
      margin-top: 58px;
    }

    &.captcha_row {
      margin: -10px auto 10px;
    }

    &._half {
      &:before,
      &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }

      .input_w {
        float: left;
        width: 46%;

        + .input_w {
          margin-left: 8%;
        }
      }
    }
  }
}

.footer_logo_holder {
  text-align: center;
}

.footer_logo {
  display: inline-block;
  vertical-align: top;

  img {
    display: block;
  }
}

.dev_block,
.copyright {
  opacity: .25;
  top: 12px;
  font: 300 11px/60px 'MuseoSansCyrl', sans-serif;

  @include respond-to-min($resp_step_1) {
    position: absolute;
    font-size: 13px;
  }
}

.copyright {
  float: left;

  @include respond-to-min($resp_step_1) {
    left: 30px;
  }
}

.dev_block {
  float: right;

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  img {
    display: block;
  }

  @include respond-to-min($resp_step_1) {
    right: 35px;
  }
}
