@mixin respond-to-max($custom) {
  @media only screen and (max-width: $custom - 1) {
    @content;
  }
}

@mixin transition_all($property...) {
  @if $all == true {
    -webkit-transition: $property;
    -ms-transition: $property;
    transition: $property;
  }
}

$resp_step_1: 980px;

.inp_hidden {
  display: none;
}

.input_w {
  position: relative;
}

.f_input {
  display: block;
  width: 100%;

  &.f_input_v1 {
    height: 50px;
    padding: 13px;
    font: 300 17px/24px 'MuseoSansCyrl', sans-serif;
    border: 1px solid rgba(255, 255, 255, .25);
    color: #fff;

    &:focus {
      border-color: rgba(255, 255, 255, .75);
    }

    &[readonly='readonly'] {
      background: #1a1a1a;
      border-color: rgba(255, 255, 255, .75) !important;
    }

    @include respond-to-max($resp_step_1) {
      font-size: 13px;
    }

    ._dobro_page & {
      &::-webkit-input-placeholder {
        color: #fff;
      }

      &::-moz-placeholder {
        color: #fff;
      }
    }
  }
}

textarea.f_input.f_input_v1 {
  height: 144px;
}

div.f_input_v1.f_input {
  padding: 0;
  line-height: 48px;

  img {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    max-height: 48px;
    max-width: 100%;
  }
}

.check_v1 {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;

  .check_text {
    display: block;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -34px;
      width: 16px;
      height: 16px;
      border-radius: 3px;
      background: #404040;
      border: 1px solid #fff;

      ._bordo_blog &,
      ._dobro_blog &,
      ._bordo_page &,
      ._dobro_page & {
        background-color: rgba(255, 255, 255, .25) !important;
      }
    }
  }

  .inp_hidden:checked + .check_text {

    &:before {
      background: #404040 url(../i/check.png) no-repeat 50% 40%;
    }
  }
}

.check_v2 {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;

  .check_text {
    display: block;
    position: relative;

    &:after,
    &:before {
      content: '';
      position: absolute;
      border-radius: 100%;
      top: 0;
      left: -43px;
    }

    &:before {
      @include transition_all(border-color .3s);
      width: 20px;
      height: 20px;
      border: 1px solid rgba(255, 255, 255, .25);
    }

    &:after {
      @include transition_all(opacity .3s);
      background: #fff;
      height: 10px;
      width: 10px;
      opacity: 0;
      margin: 5px 0 0 5px;
    }
  }

  &:hover {
    .check_text {
      &:before {
        border-color: #fff;
      }
    }
  }

  .inp_hidden:checked + .check_text {

    &:after {
      opacity: 1;
    }

    &:before {
      border-color: #fff;
    }
  }
}

.check_v3 {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;

  &:hover {
    .check_text {

    }
  }

  .inp_hidden:checked + .check_text {
    background-color: #fff;

    &:after {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    > span {
      opacity: 0;
      -webkit-transform: translate3d(0, -25%, 0);
      transform: translate3d(0, -25%, 0);
    }
  }
}



