@include keyframe_sub(spin) {
  from {
    @include transform_rotate(0);
  }
  to {
    @include transform_rotate(360);
  }
}

@include keyframe_sub(fall_down) {
  from {
    @include transform_translate(0, 0);
  }
  to {
    @include transform_translate(0, 110px);
  }
}

@include keyframe_sub(fly_left) {
  from {
    @include transform_translate(0, 0);
  }
  to {
    @include transform_translate(-100%, 0);
  }
}

@include keyframe_sub(pulse) {
  0% {
    @include transform_scale(1, 1);
  }
  50% {
    @include transform_scale(1.4, 1.4);
  }
  100% {
    @include transform_scale(1, 1);
  }
}

//*************************** header

.header {
  @include transition_all(top .3s);
  position: fixed;
  right: 0;
  left: 0;
  height: 0;
  top: 5px;
  line-height: 30px;
  z-index: 25;
  text-align: center;

  .section_inner {
    max-width: 1600px;
    padding: 0 25px;
    z-index: 1;
  }

  &._fixed {
    //top: 10px;
  }

  .menu-is-open & {
    background: #000;

    .callback_block {
      display: none;
    }
  }

  @include respond-to-min($resp_step_1) {
    top: 65px;
    line-height: 70px;

    &:after {
      top: -65px;
    }
  }
}

.logo_block {
  height: 0;
  text-align: center;

  &.sticky {

  }
}

.logo {
  @include transform_translate(0, -10px);
  will-change: transform;
  display: inline-block;
  position: relative;
  overflow: hidden;
  pointer-events: all;

  @include respond-to-max($resp_step_1) {
    max-width: 150px;

    .section_logo &,
    .section._contacts &,
    .header_logo_holder & {

      .img_hover {
        max-width: 90px;

        + img {
          max-width: 90px;
        }
      }
    }

    ._dobro_page & {
      @include transform_translate(0, -25px);
    }
  }

  span,
  img {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    max-width: 100%;
  }

  span {
    font-size: 15px;
    color: #a7a7a7;
    padding-left: 12px;
    letter-spacing: -.3px;
  }

  @include respond-to-min($resp_step_1) {
    @include transform_translate(0, 0);
    height: 70px;
  }
}

.logo_slide {
  @include transition_all(margin-top .5s);
  position: relative;
  padding: 0 5px;

  img {
    @include transition_all(transform .3s, opacity .3s);

    &._bodro {
      //@extend %shadowed_black;
    }

    &._dobro {
      //@extend %shadowed_blue;
    }

    &._bordo {
      //@extend %shadowed_red;
    }
  }

  @include respond-to-min($resp_step_1) {
    &:hover {
      .img_hover {
        @include transform_translate(0, 0%);
        opacity: 1;

        + img {
          @include transform_translate(0, 100%);
          opacity: 0;
        }
      }
    }
  }
}

.img_hover {
  @include transform_translate(0, -100%);
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0;
  margin-left: -72px;
}

.callback_block {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 0;
  line-height: normal;
  text-align: left;

  .lang_block {
    position: relative;
    z-index: 1;
    padding: 4px 26px 6px;
    border-bottom: 1px solid rgba(255, 255, 255, .25);

    li {
      padding-right: 22px;
    }
  }

  @include respond-to-min($resp_step_1) {
    right: 83px;
    top: 23px;
    left: auto;
    height: auto;
    padding-right: 65px;
    text-align: right;

    .lang_block {
      border: none;
      padding: 0;
    }
  }
}

.header_phone {
  float: left;
  margin: 30px 25px;

  &:hover .phone_text {
    text-decoration: underline;
  }

  @include respond-to-min($resp_step_1) {
    font-size: 20px;
    top: -12px;
    position: absolute;
    right: -5px;
    white-space: nowrap;
    margin: 0;
  }
}

.phone_icon {
  @extend %icon_pseudo;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  color: #fff;
  cursor: pointer;

  &:before {
    font-size: 36px;
    content: $i-phone;

    @include respond-to-min($resp_step_1) {
      font-size: 50px;
    }
  }
}

.phone_text {
  @include transition_all(opacity .3s, margin-left .1s .2s, margin-right .3s);
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
  white-space: nowrap;
  padding-left: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  //margin-right: -100%;
  margin-left: -150px;
  pointer-events: none;

  ._show_phone & {
    @include transition_all(opacity .3s, margin-left .2s, margin-right .3s);
    opacity: 1;
    margin-left: 10px;
    margin-right: 12px;
    pointer-events: all;
  }

  @include respond-to-max($resp_step_1) {
    display: none;
  }
}

.nav_block {
  position: absolute;
  left: 20px;
  top: 8px;

  @include respond-to-min($resp_step_1) {
    left: 70px;
  }

  @include respond-to-max($resp_step_1) {
    z-index: 1;
    top: 50px;
    left: auto;
    right: 14px;
  }
}

.header__burger {
  background: none;
  border: 0;
  height: 50px;
  padding: 0;
  pointer-events: auto;
  transition: margin .5s cubic-bezier(.48, 0, .12, 1), -webkit-transform .5s cubic-bezier(.48, 0, .12, 1);
  transition: transform .5s cubic-bezier(.48, 0, .12, 1), margin .5s cubic-bezier(.48, 0, .12, 1);
  transition: transform .5s cubic-bezier(.48, 0, .12, 1), margin .5s cubic-bezier(.48, 0, .12, 1), -webkit-transform .5s cubic-bezier(.48, 0, .12, 1);
  width: 50px;
  will-change: transform;

  @include respond-to-min($resp_step_1) {
    //-webkit-transform: translate3d(50px, 0, 0);
    //transform: translate3d(50px, 0, 0);
  }
}

.header__burger.allow-hover {
  cursor: pointer
}

.header__burger:before {
  bottom: -20px;
  content: "";
  display: none;
  left: -20px;
  position: absolute;
  right: -20px;
  top: -20px
}

.header__burger.allow-hover:before {
  display: block
}

.header__burger--show {
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}

.header__burger {
  @include transition_all(opacity .3s);

  .menu-is-open & {
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }
}

.header__burger span {
  position: absolute;
  left: 11px;
  width: 30px;
  height: 2px;
  background-color: #fff;
  transition: opacity 0ms linear .5s, background-color .2s cubic-bezier(.215, .61, .355, 1), -webkit-transform .5s ease .7s;
  transition: transform .5s ease .7s, opacity 0ms linear .5s, background-color .2s cubic-bezier(.215, .61, .355, 1);
  transition: transform .5s ease .7s, opacity 0ms linear .5s, background-color .2s cubic-bezier(.215, .61, .355, 1), -webkit-transform .5s ease .7s;
  will-change: transform;

  @include respond-to-max($resp_step_1) {
    width: 25px;
  }
}

.header__burger span:first-child {
  top: 9px;
  transition-delay: .05s;
}

.header__burger span:nth-child(2) {
  top: 19px;
  transition-delay: .1s;
}

.header__burger span:nth-child(3) {
  top: 29px;
  transition-delay: .15s;
}

.header__burger span:nth-child(4) {
  top: 39px;
  transition-delay: .2s;
}

.menu_opened {
  .header__burger span:first-child {
    @include transform_rotate(45);
    top: 19px;
  }

  .header__burger span:nth-child(2) {
    @include transform_rotate(-45);
    top: 19px;
  }

  .header__burger span:nth-child(3) {
    @include transform_rotate(45);
    top: 29px;
  }

  .header__burger span:nth-child(4) {
    @include transform_rotate(-45);
    top: 29px;
  }
}

.header__burger:focus {
  outline: 0
}

.header__burger span {
  transition: -webkit-transform .15s cubic-bezier(.48, 0, .12, 1);
  transition: transform .15s cubic-bezier(.48, 0, .12, 1);
  transition: transform .15s cubic-bezier(.48, 0, .12, 1), -webkit-transform .15s cubic-bezier(.48, 0, .12, 1);
}

.allow-hover {
  &.header__burger span.hover-step-1 {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    transform-origin: left center
  }

  &.header__burger span.hover-step-2 {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right center;
    transform-origin: right center
  }
}

body.menu-is-done-opening .header__burger.allow-hover:hover span:nth-child(2) {
  width: 40px;
}

body.menu-is-open .header__burger span {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  transition: opacity 0ms linear .5s, background-color .5s, -webkit-transform .5s ease;
  transition: transform .5s ease, opacity 0ms linear .5s, background-color .5s;
  transition: transform .5s ease, opacity 0ms linear .5s, background-color .5s, -webkit-transform .5s ease;
  transition-delay: 0s;
  width: 40px;
  transform-origin: 50% 50% !important;
}

body.menu-is-open .header__burger span:first-child {
  top: 12px;
  -webkit-transform: translate3d(0, 7px, 0) rotate(45deg);
  transform: translate3d(0, 7px, 0) rotate(45deg);
}

body.menu-is-open .header__burger span:nth-child(2n) {
  transition: opacity 0ms linear .7s, width .5s cubic-bezier(.48, 0, .12, 1), background-color .5s, -webkit-transform .5s cubic-bezier(.215, .61, .355, 1) .7s;
  transition: transform .5s cubic-bezier(.215, .61, .355, 1) .7s, opacity 0ms linear .7s, width .5s cubic-bezier(.48, 0, .12, 1), background-color .5s;
  transition: transform .5s cubic-bezier(.215, .61, .355, 1) .7s, opacity 0ms linear .7s, width .5s cubic-bezier(.48, 0, .12, 1), background-color .5s, -webkit-transform .5s cubic-bezier(.215, .61, .355, 1) .7s;
  transition-delay: 0s;
  -webkit-transform: translate3d(0, 7px, 0) rotate(-45deg);
  transform: translate3d(0, 7px, 0) rotate(-45deg);
  top: 12px;
}

body.menu-is-open .header__burger span:nth-child(3) {
  opacity: 0;
  -webkit-transform: translate3d(0, 7px, 0) rotate(45deg);
  transform: translate3d(0, 7px, 0) rotate(45deg);
  //top: 29px;
}

body.menu-is-open .header__burger span:nth-child(4) {
  opacity: 0;
  -webkit-transform: translate3d(0, 7px, 0) rotate(45deg);
  transform: translate3d(0, 7px, 0) rotate(45deg);
}

body.menu-is-open .header__burger:hover span {
  -webkit-animation: none;
  animation: none;
}

body.menu-is-open .header__nav-list {
  opacity: 0;
  -webkit-transform: translate3d(-30px, 0, 0);
  transform: translate3d(-30px, 0, 0);
  transition-delay: 0ms;
  cursor: default;
  pointer-events: none;
}

body.menu-is-closing .header__burger {
  transition-delay: .5s, .5s;
}

body.menu-is-closing .header__burger span:nth-child(2):after {
  transition-duration: .5s;
  transition-delay: 0ms;
}

.c-nav_button {
  background: none;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 4.2s, -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 4.2s;
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 4.2s, -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 4.2s;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 4.2s, opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 4.2s;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 4.2s, opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 4.2s, -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 4.2s;
}

.c-nav_button_icon_item.is-active .c-nav_burger_item {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.dom-is-loaded .c-nav_button {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.c-nav_button_icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.c-nav_button_icon:first-child {
  position: relative;
}

.c-nav_button_icon svg {
  fill: #000;
  width: 100%;
  height: 100%;
  -webkit-transition: fill 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: fill 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.c-nav_button_icon svg {
  fill: #fff;
}

.c-nav_button_icon.-shape {
  -webkit-transform: scale(0.8) rotate(0);
  -ms-transform: scale(0.8) rotate(0);
  transform: scale(0.8) rotate(0);
}

.menu-is-open .c-nav_button_icon.-shape {
  -webkit-transform: scale(0) rotate(180deg);
  -ms-transform: scale(0) rotate(180deg);
  transform: scale(0) rotate(180deg);
}

.c-nav_button_icon.-close {
  -webkit-transform: scale(0) rotate(-180deg);
  -ms-transform: scale(0) rotate(-180deg);
  transform: scale(0) rotate(-180deg);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.c-nav_button_icon.-close svg {
  fill: black;
  width: 80%;
  height: 80%;
}

.menu-is-open .c-nav_button_icon.-close {
  -webkit-transform: scale(0.8) rotate(0);
  -ms-transform: scale(0.8) rotate(0);
  transform: scale(0.8) rotate(0);
}

.c-nav_burger_item {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin: 8px 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);

  &:nth-child(1) {
    -webkit-transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.15s;
    transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.15s;
    transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.15s;
    transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.15s, -webkit-transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.15s;
  }

  &:nth-child(2) {
    -webkit-transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
    transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
    transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
    transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s, -webkit-transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
  }

  &:nth-child(3) {
    -webkit-transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.45s;
    transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.45s;
    transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.45s;
    transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.45s, -webkit-transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.45s;
  }

  &:nth-child(4) {
    -webkit-transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.6s;
    transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.6s;
    transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.6s;
    transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.6s, -webkit-transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.6s;
  }

}

// *********  menu

.menu_holder {
  @include transition_all(transform .3s);
  @include transform_translate(-100%, 0);
  position: fixed;
  z-index: 23;
  top: 0;
  right: 0;
  left: 0;
  background: #000;
  padding: 150px 0 30px;
  //padding-top: 70px;
  //padding-top: 140px;
  overflow-y: auto;

  > .gl_table {
    //min-height: 1010px;
  }

  .section_inner {
    position: static;
  }

  @include respond-to-max($resp_step_1) {
    @include transform_translate(100%, 0);
    padding-top: 80px;
  }

  .menu-is-open & {
    @include transform_translate(0, 0);
  }
}

.lang_block {
  //position: absolute;
  //top: 80px;
  //right: 45px;
  @include transition_all(opacity .3s .2s);
  white-space: nowrap;

  li {
    display: inline-block;
    vertical-align: top;
    //padding-right: 45px;
  }

  @include respond-to-max($resp_step_1) {
    //right: 0;
    //top: 35px;
    //
    //li {
    //  padding-right: 30px;
    //}
  }

  @include respond-to-max($resp_step_0) {
    li {
      //padding-right: 10px;
    }
  }

  @include respond-to-min($resp_step_1) {
    ._show_phone & {
      @include transition_all(opacity .3s);
      opacity: 0;
      pointer-events: none;
    }
  }
}

.lang_link {
  @include transition_all(opacity .3s);
  color: #fff;
  opacity: .5;
  text-decoration: none;
  font: 300 17px $MuseoSansCyrl;

  &:hover {
    opacity: 1;
    text-decoration: underline;
  }

  &._active {
    opacity: 1;
    text-decoration: none;
  }

  @include respond-to-max($resp_step_1) {
    font-size: 12px;
  }
}

.menu_logo_holder {
  position: absolute;
  top: 65px;
  right: 50px;
  left: 50px;
  text-align: center;
  height: 0;

  .logo {
    @include transform_translate(0, 0);
  }

  @include respond-to-max($resp_step_1) {
    top: 30px;

    .logo {
      max-width: 100px;
    }
  }
}

.mob_phone {
  text-align: center;
  margin: 30px 0;
}

.main_menu {
  //max-width: 1140px;
  //margin: 0 auto;
}

.main_nav {

  @include respond-to-max($resp_step_1) {
    margin-bottom: 65px;

    li {
      margin-top: 20px;
    }
  }

  @include respond-to-min($resp_step_1) {
    display: table;
    width: 100%;
    table-layout: fixed;

    li {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.nav_item {
  position: relative;

  @include respond-to-min($resp_step_1) {
    padding-bottom: 100%;
  }
}

.nav_link {
  @extend %translate3d;
  display: block;

  @include respond-to-max($resp_step_1) {
    text-align: center;
    white-space: nowrap;

    .gl_table_cell,
    .gl_table {
      display: block;
    }
  }

  @include respond-to-min($resp_step_1) {
    @include transition_all(border-color .3s);
    position: absolute;
    top: 26px;
    bottom: 26px;
    left: 26px;
    right: 26px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid transparent;
    text-align: center;
    cursor: pointer;

    &:hover {
      border-color: rgba(255, 255, 255, .25);
    }
  }
}

.nav_link_bg {
  display: none;

  @include respond-to-min($resp_step_1) {
    @include transition_all(transform 4s, opacity .3s);
    position: absolute;
    top: 0;
    left: 0;
    bottom: -35px;
    right: -70px;
    opacity: 0;
    display: block;

    ._nav_bodro & {
      top: -25px;
      left: -70px;
    }

    ._nav_dobro & {
      bottom: 0;
      right: 0;

      &:before {
        opacity: .5;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1660px;
        height: 443px;
        //width: 200%;
        background: url(../i/bg_dobro.png) repeat-x 50% 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      &:before {
        left: 0;
      }
    }

    ._nav_dobro:hover & {
      @include animation_sub_full(fly_left, 4000ms, linear, 0s, infinite, normal, both);
    }

    ._nav_bordo & {
      top: -210px;
      left: -190px;
    }

    ._nav_bordo:hover & {
      @include animation_sub_full(fall_down, 4000ms, linear, 0s, infinite, normal, both);
    }

    .nav_link:hover & {
      opacity: 1;
    }
  }
}

$splash_height: 54px;
$splash_width: 86px;

.bg_dobro {
  position: absolute;
  height: $splash_height;
  width: $splash_width;
  opacity: .5;
  background: url(../i/splash.png) no-repeat 50% 50%;

  $row_count: 9;
  $items_in_row: 7;

  @for $k from 1 through $row_count + 1 {
    @for $i from 0 through $items_in_row {
      &:nth-child(#{($i + 1) + (($k - 1) * $items_in_row)}) {
        left: $i * $splash_width;
        top: ($k - 1) * $splash_height;
        margin-left: (1 - $k % 2) * 45px;
        animation-delay: .2s * $i !important;
      }
    }
  }

  .nav_link:hover & {
    @include animation_sub_full(pulse, 1000ms, linear, 0s, infinite, normal, both);
  }
}

$splash_height: 110px;
$splash_width: 145px;

.bg_bordo {
  position: absolute;
  height: $splash_height;
  width: $splash_width;
  opacity: .5;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: 50% 50%;
    background: url(../i/glass.png) no-repeat 50% 50%;
  }

  $row_count: 8;
  $items_in_row: 5;

  @for $k from 1 through $row_count + 1 {
    @for $i from 0 through $items_in_row {
      &:nth-child(#{($i + 1) + (($k - 1) * $items_in_row)}) {
        left: $i * $splash_width;
        top: ($k - 1) * $splash_height;
        margin-left: (1 - $k % 2) * 93px;

        &:before {
          @include transform_rotate(45 * ($i * $k % 8));
        }
      }
    }
  }

  .nav_link:hover & {
    &:before {
      @include animation_sub_full(spin, 4000ms, linear, 0s, infinite, normal, both);
    }
  }
}

.nav_img {
  display: block;
  position: relative;
  z-index: 1;

  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
  }

  ._nav_bodro & {
    padding: 12px 15px 0 0;
  }

  ._nav_dobro & {
    padding: 12px 15px 0 0;
  }

  ._nav_bordo & {
    padding: 12px 15px 0 0;
  }

  @include respond-to-max($resp_step_2) {
    max-width: 60%;
    margin: 0 auto;
    padding-right: 0 !important;
  }

  @include respond-to-max($resp_step_1) {
    width: 130px;
    max-width: 80%;

    &:before,
    &:after {
      @include transition_all(width .3s);
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 1px;
      position: relative;

      ._nav_bodro & {
        background: #ff0;
      }

      ._nav_dobro & {
        background: #fff;
      }

      ._nav_bordo & {
        background: #840938;
      }
    }

    &:after {
      left: 16px;
      margin: -6px -100% 0 0;
    }

    &:before {
      right: 16px;
      margin: -6px 0 0 -100%;
    }

    .nav_link:hover & {
      &:before,
      &:after {
        width: 20px;
      }
    }
  }
}

@media only screen and (min-width: $resp_step_01) and (max-width: $resp_step_1 - 1) {
  .nav_img {
    width: 230px;
    margin: 0 auto;
  }
}

.main_menu_footer {
  //padding: 80px 0 50px;
  padding: 40px 0 30px;
  text-align: center;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-top: 1px solid rgba(255, 255, 255, .25);

  }

  @include respond-to-max($resp_step_1) {
    padding-bottom: 35px;

    &:before {
      right: -30px;
      left: -30px;
    }
  }
}

.soc_list {
  text-align: center;
  font-size: 0;

  li {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;

    @include respond-to-max($resp_step_1) {
      padding: 0 7px;
    }
  }
}

.soc_link {
  @include transition_all(background .3s, color .3s);
  display: block;
  font-size: 20px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 36px;
  border-radius: 100%;
  color: #fff;
  border: 1px solid #fff;

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  &:hover {
    background: #fff;
    color: #000;
  }

  @include respond-to-max($resp_step_1) {
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 26px;
  }
}

.menu_links_w {
  //padding: 65px 90px 80px;
  padding-bottom: 40px;

  @include respond-to-min($resp_step_1) {
    padding: 30px 90px;
  }
}

.menu_links {
  text-align: center;
  display: table;
  width: 100%;
  table-layout: fixed;

  li {
    display: table-cell;
    vertical-align: middle;
  }
}

@media only screen and (max-width: ($resp_step_1 - 1)) and (orientation: portrait) {
  .menu_links {
    display: block;

    li {
      display: block;

      + li {
        margin-top: 30px;
      }
    }
  }

}

.menu_link {
  @include transition_all(color .3s, text-shadow .3s);
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font: 500 25px $MuseoSansCyrl;
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  white-space: nowrap;

  &:before,
  &:after {
    @include transition_all(width .3s);
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 1px;
    position: relative;
    background: #fff;
  }

  &:after {
    left: 20px;
    margin: -2px -100% 0 0;
  }

  &:before {
    right: 20px;
    margin: -2px 0 0 -100%;
  }

  &:hover {
    color: #000;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;

    &:before,
    &:after {
      width: 20px;
    }
  }

  @include respond-to-max($resp_step_1) {
    font-size: 18px;
  }
}

.header__overlay {
  pointer-events: none;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 200px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */

  body[data-shadow='bodro'] & {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=0);
  }

  body[data-shadow='dobro'] & {
    background: -moz-linear-gradient(top, rgba(107, 163, 238, 1) 0%, rgba(107, 163, 238, 0) 53%, rgba(125, 185, 232, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(107, 163, 238, 1) 0%, rgba(107, 163, 238, 0) 53%, rgba(125, 185, 232, 0) 100%);
    background: linear-gradient(to bottom, rgba(107, 163, 238, 1) 0%, rgba(107, 163, 238, 0) 53%, rgba(125, 185, 232, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ba3ee', endColorstr='#007db9e8', GradientType=0);
  }

  body[data-shadow='bordo'] & {
    background: -moz-linear-gradient(top, rgba(132, 9, 56, 1) 0%, rgba(132, 9, 56, 0) 53%, rgba(132, 9, 56, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(132, 9, 56, 1) 0%, rgba(132, 9, 56, 0) 53%, rgba(132, 9, 56, 0) 100%);
    background: linear-gradient(to bottom, rgba(132, 9, 56, 1) 0%, rgba(132, 9, 56, 0) 53%, rgba(132, 9, 56, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#840938', endColorstr='#00840938', GradientType=0);
  }

  @include respond-to-max($resp_step_1) {
    height: 120px;
  }
}

.preloader {
  background: #000;
  position: fixed;
  z-index: 50;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  img {
    position: absolute;
    @extend %hor_vert_centr;
  }
}

.mob_phone_popup {
  @extend %vert_centr;
  z-index: 50;
  display: none;
  margin-top: -8px;
  text-align: center;
  background: #000;
  padding: 30px 50px;
  position: fixed;
  right: 0;
  left: 0;
  font-size: 12px;
  font-weight: 300;

  //&:after,
  //&:before {
  //  content: '';
  //  position: absolute;
  //  right: 0;
  //  left: 0;
  //  height: 50vh;
  //}

  //&:before {
  //  top: 100%;
  //  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
  //  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  //  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40000000', endColorstr='#000000', GradientType=0); /* IE6-9 */
  //}
  //
  //&:after {
  //  bottom: 100%;
  //  background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0.25) 100%); /* FF3.6-15 */
  //  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0.25) 100%); /* Chrome10-25,Safari5.1-6 */
  //  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#40000000', GradientType=0); /* IE6-9 */
  //}

  p {
    + p {
      margin-top: 25px;
    }
  }

  @include respond-to-max($resp_step_1) {
    ._show_phone & {
      display: block;
    }
  }
}

.mob_phone_link {
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.phone_close {
  @extend %icon_pseudo;
  position: absolute;
  top: 17px;
  right: 17px;
  font-size: 22px;
  color: #fff;

  &:before {
    content: $i-close;
  }
}
