html:after {
    -webkit-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
    pointer-events: none;
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background: #000 url(../i/preloader.gif) no-repeat 50% 50%
}

html.hide_preloader:after {
    opacity: 0
}
