@import "variables";

@font-face {
  font-family: 'bdb_icons';
  src:  url('#{$icomoon-font-path}/bdb_icons.eot?19alzp');
  src:  url('#{$icomoon-font-path}/bdb_icons.eot?19alzp#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/bdb_icons.ttf?19alzp') format('truetype'),
    url('#{$icomoon-font-path}/bdb_icons.woff?19alzp') format('woff'),
    url('#{$icomoon-font-path}/bdb_icons.svg?19alzp#bdb_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bdb_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-tg {
  &:before {
    content: $i-tg;
  }
}
.i-be {
  &:before {
    content: $i-be;
  }
}
.i-vk {
  &:before {
    content: $i-vk;
  }
}
.i-yt {
  &:before {
    content: $i-yt;
  }
}
.i-fb {
  &:before {
    content: $i-fb;
  }
}
.i-back-prev {
  &:before {
    content: $i-back-prev;
  }
}
.i-close {
  &:before {
    content: $i-close;
  }
}
.i-chevron-down {
  &:before {
    content: $i-chevron-down;
  }
}
.i-instagram {
  &:before {
    content: $i-instagram;
  }
}

