include mixins.pug
doctype html
html#skrollr-body._blog_page(lang='ru')
  +dev_head('blog article')

  body
    +header()
    +menu_holder()
    .wrapper
      .blog_wide_image._article.winHthird
        img(src='i/article_1.jpg')
        .header_logo_holder._bodro_shadow._article
          .section_logo.sticky(data-sticky-class='_stuck' data-margin-top=76)
            a.logo(href='index.html')
              .logo_slide()
                img.img_hover(src='i/bdb_a.png' width=144)
                img(src='i/bdb_w.png' width=144)
      .base
        div.main_content
          .section._article_white
            .section_inner
              .article 
                h1 Очень длинное название статьи<br>в две строки
                
                p Отличительной чертой поверхности, сложенной излияниями очень текучей лавы, является то, что базис эрозии порождает и обеспечивает абразивный гипергенный минерал. Имидж имеет тенденцию метаморфический закон исключённого третьего. Декретное время подчеркивает контент. Если предварительно подвергнуть объекты длительному вакуумированию, апогей решительно оспособляет термокарст. Если предварительно подвергнуть объекты длительному вакуумированию, атом длительно оспособляет направленный маркетинг. Резонатор повсеместно иллюстрирует культурный водоносный этаж.
  
                p Соц-дем характеристика аудитории обедняет осадочный медиамикс. Эсхатологическая идея представляет собой межпланетный сверхпроводник, и это неудивительно, если вспомнить квантовый характер явления. Перигелий анизотропно гасит субъективный грязевой вулкан.
  
                p Представляется логичным, что Юпитер методически возбуждает предмет деятельности. Стоит отметить, что элонгация однородно меняет типичный популяционный индекс. Воздействие на потребителя дискредитирует квантово-механический параметр. Терминатор транслирует известняк. Информационная связь с потребителем
  
              .video_block._wide._mod_1
                .video_w
                  <iframe id="video_1" class="playOnScroll" width="560" height="315" src="https://www.youtube.com/embed/eKXjnhpKEMw?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                .video_btn.playVideo
                  
              .article
                p Отличительной чертой поверхности, сложенной излияниями очень текучей лавы, является то, что базис эрозии порождает и обеспечивает абразивный гипергенный минерал. Имидж имеет тенденцию метаморфический закон исключённого третьего. Декретное время подчеркивает контент. Если предварительно подвергнуть объекты длительному вакуумированию, апогей решительно оспособляет термокарст. Если предварительно подвергнуть объекты длительному вакуумированию, атом длительно оспособляет направленный маркетинг. Резонатор повсеместно иллюстрирует культурный водоносный этаж.

                p Соц-дем характеристика аудитории обедняет осадочный медиамикс. Эсхатологическая идея представляет собой межпланетный сверхпроводник, и это неудивительно, если вспомнить квантовый характер явления. Перигелий анизотропно гасит субъективный грязевой вулкан.

                p Представляется логичным, что Юпитер методически возбуждает предмет деятельности. Стоит отметить, что элонгация однородно меняет типичный популяционный индекс. Воздействие на потребителя дискредитирует квантово-механический параметр. Терминатор транслирует известняк. Информационная связь с потребителем
              
              +blog_projects()

              .project_slider
                .projectSlider
                  +loop_while(3)
                    .slide: .gl_table: .gl_table_cell
                      a.blog_project_link(href='#') Название предыдущего проекта
                    .slide: .gl_table: .gl_table_cell
                      a.blog_project_link(href='#') Название следующего проекта
                      
                .project_controls
                  #project_prev.project_control._prev
                    span ЧИТАТЬ СТАТЬЮ
                  #project_next.project_control._next
                    span ЧИТАТЬ СТАТЬЮ

          .section._last
            .section_inner
              .section_title(
              data-450-center-top='transform: translate(0, 100%); opacity: 0;'
              data-300-center-top='transform: translate(0, 0%); opacity: 1;'
              )
                span(data-title='Что-нибудь замутим?') Что-нибудь замутим?

              .text_center.subscribe_block
                a.btn_v1.contact_btn.btn_white.fz_13.callbackBtn(data-text='СВЯЗАТЬСЯ' href='#')
                  span СВЯЗАТЬСЯ

        .footer
          .section_inner.clearfix
            .footer_logo_holder.mob_hidden
              a.footer_logo
                img(src='i/bdb_w.png' width=124)

            .copyright: span © Copyright «BDB Group», 2017
            .dev_block
              span Сайт сделан:&nbsp;
              span
                img(src='i/friend_5.png' width=58)
                      
    +popups()

    +scripts(false, true)
    
